/* UTILITIES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 10px 0;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

img {
    width: 100%;
}

h3 {
    text-align: center;
    font-size: 30px;
}

.container {
    width: 100vw;
    height: auto;
    margin: auto;
    background-color: white;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.grid {
    display: grid;
    margin: auto;
}

.img-container img{
    width: 100%;
    height: auto;
}

section {
    max-width: 700px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* LANDING PAGE */

.landing-icons svg {
    width: 50px;
    margin: 25px 15px 25px 15px;
}

.github-icon svg {
    margin-left: 0px;
}

.landing-page .grid {
    height: 100vh;
    margin: auto;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.resume-button {
    padding: 5px 10px;
    margin-bottom: 5px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-align: center;
    border: 1px solid black;
    background-color: black;
    border-radius: 10px;
    height: 40px;
}

.resume-button:hover {
    text-decoration: none;
    background-color: rgb(99, 99, 99);
    border: 1px solid rgb(99, 99, 99);
}

.landing-page .img-container {
    max-width: 300px;
    max-height: 300px;
}

.landing-page h1 {
    font-size: 50px;
    white-space: nowrap;
    margin: auto;
    font-weight: 800;
}

.landing-page h2 {
    margin-top: 10px;
    font-weight: 600;
    font-size: 30px;
}

.landing-icons {
    justify-content: flex-start;
    align-items: center;
}

.landing-icons a:hover {
    fill: rgb(99, 99, 99);
}

@media (max-width: 800px) {
    .landing-page .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .landing-page {
        text-align: center;
    }

    .landing-page h1 {
        text-align: center;
    }

    .landing-icons {
        justify-content: center;
    }

    .landing-page .img-container {
        margin: 80px auto 0px auto;
    }

    .landing-page .grid {
        height: auto;
    }
}

/* ABOUT */

.about-text {
    padding: 60px;
}

.about-text p {
    text-justify: inter-word;
}


@media (max-width: 360px) {
    .about-text {
        padding: 30px;
    }
}

/* PROJECTS */
.projects h3 {
    text-align: center;
    margin-bottom: 300px;
}